NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
DATABASE_URL=mysql://USUARIO:***@HOST_MYSQL_HOSTINGER:3306/NOME_DO_BANCO
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
PLATFORM_JWT_ACCESS_SECRET=
PLATFORM_JWT_REFRESH_SECRET=
CORS_MOBILE_ORIGINS=
CORS_ADMIN_WEB_ORIGINS=
DEFAULT_TIMEZONE=America/Sao_Paulo
SUBSCRIPTION_DEFAULT_GRACE_DAYS=7
SEED_PLATFORM_ADMIN_NAME=
SEED_PLATFORM_ADMIN_EMAIL=
SEED_PLATFORM_ADMIN_PASSWORD=
APP_NAME=SmartGesso
APP_SUPPORT_EMAIL=
APP_SUPPORT_PHONE=
SWAGGER_ENABLED=false
